
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  width: 100vw;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

p {
  line-height: 1.5;
  word-break: keep-all;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
  *zoom: 1;
}

ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
}
